.headerbar_container {
  background-color: #c12525;
  height: fit-content;
  width: 100%;
  padding: 0px 100px 0px 100px;
}

@media (min-width: 0px) {
  /* For phone: */
  .navbar-brand {
    width: 40vw;
    text-align: start;
  }

  .select-language {
    width: 40vw;
    text-align: end;
  }
}

@media (min-width: 700px) {
  /* For desktop: */
  .navbar-brand {
    width: 40vw;
    text-align: center;
  }

  .select-language {
    width: 40vw;
    text-align: center;
  }

  a {
    display: block;
  }
}
